@import "tailwindcss";
@plugin 'daisyui';

@font-face {
  font-family: "IRANSansXFaNum-Regular";
  src: url("./assets/fonts/IRANSansXFaNum-Regular.ttf");
}
body {
  font-family: "IRANSansXFaNum-Regular";
  margin: 0;
  padding: 0;
}
